* {
  box-sizing: border-box;
}

body header {
  background-color: #656565;
  color: #fff;
}

body header .container {
  margin: 0 auto;
  width: 80%;
  height: 70px;
}

body header .container .header-left {
  display: inline-block;
  float: left;
  font-size: 30px;
  line-height: 70px;
}

body header .container .header-right p,
body header .container a {
  display: inline-block;
  float: right;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 70px;
}

body header .container .header-right p a,
body header .container a a {
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

body header .container .header-right p a:hover,
body header .container a a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

body main .colors .container {
  margin: 0 auto;
  width: 80%;
}

body main .colors .container .range-red {
  width: 100%;
}

body main .colors .container .range-green {
  width: 100%;
}

body main .colors .container .range-blue {
  width: 100%;
}

body main .colors .container .slider {
  margin: 20px auto;
  width: 100%;
  height: 10px;
  outline: none;
  border-radius: 5px;
  background: #d3d3d3;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  -webkit-appearance: none;
}

body main .colors .container .slider::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #a8a8a8;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

body main .colors .container .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #a8a8a8;
  cursor: pointer;
}

body main .colors .container .color-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  background-color: #646464;
}

body main .colors .container .color-view pre {
  display: inline-block;
  font-size: 30px;
}
