$header-height: 70px;

* {
  box-sizing: border-box;
}

body {
  header {
    background-color: #656565;
    color: #fff;

    .container {
      margin: 0 auto;
      width: 80%;
      height: $header-height;

      .header-left {
        display: inline-block;
        float: left;
        font-size: 30px;
        line-height: $header-height;
      }

      .header-right p,
      a {
        display: inline-block;
        float: right;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        line-height: $header-height;

        a {
          padding: 0 20px;
          background-color: rgba(#fff,.3);

          &:hover {
            background-color: rgba(#fff,.5);
          }
        }
      }
    }
  }

  main {
    .colors {
      .container {
        margin: 0 auto;
        width: 80%;

        .range-red {
          width: 100%;
        }

        .range-green {
          width: 100%;
        }

        .range-blue {
          width: 100%;
        }

        .slider {
          margin: 20px auto;
          width: 100%;
          height: 10px;
          outline: none;
          border-radius: 5px;
          background: #d3d3d3;
          opacity: 1;
          -webkit-transition: 0.2s;
          transition: opacity 0.2s;

          -webkit-appearance: none;

          &::-webkit-slider-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #a8a8a8;
            cursor: pointer;

            -webkit-appearance: none;
            appearance: none;
          }

          &::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #a8a8a8;
            cursor: pointer;
          }
        }

        .color-view {
          display: flex;
          align-items: center;
          // flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 100px;
          border-radius: 20px;
          background-color: rgba(100,100,100,1);

          pre {
            display: inline-block;
            font-size: 10px;
            // height: 100px;
            // text-align: center;
            // line-height: 100px;
          }
        }
      }
    }
  }
}
